.App {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
   margin: 0;
  padding: 0;
  overflow-x: hidden;
   
}

.main-content {
  padding-top: 100px;
}

/* body {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
   margin: 0;
  padding: 0;
  overflow-x: hidden;
} */


